<div class="auth__wrapper">
  <h1 class="auth__title">Authorization</h1>
  {{#if error}}
    <h2 class="auth__error">{{error.message}}</h2>
  {{/if}}
  <div class="auth__forms">
    <input type="radio" name="tabs" id="sign-in-tab" checked="checked" />
    <label for="sign-in-tab">Sign In</label>

    <input type="radio" name="tabs" id="sign-up-tab" />
    <label for="sign-up-tab">Sign Up</label>
    <form class="auth__forms_sign-up" name="signup">
      <input type="text" name="name" value="" placeholder="name (optional)" required="required"/>
      <input type="email" name="email" value="" placeholder="email" required="required"/>
      <input type="password" name="password" value="" placeholder="password" required="required"/>
      <button type="button" class="auth__button_sign-up" name="button">Sign up</button>
    </form>
    <form class="auth__forms_sign-in" name="signin">
      <input type="email" name="email" value="" placeholder="email" required="required"/>
      <input type="password" name="password" value="" placeholder="password" required="required"/>
      <button type="button" class="auth__button_sign-in" name="button">Sign in</button>
    </form>
  </div>
</div>
