@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/Open_Sans/OpenSans-SemiBold/OpenSans-Semibold.eot");
  src: url("../fonts/Open_Sans/OpenSans-SemiBold/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans-SemiBold/OpenSans-Semibold.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-SemiBold/OpenSans-Semibold.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-SemiBold/OpenSans-Semibold.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans-SemiBold/OpenSans-Semibold.svg#OpenSans-Semibold") format("svg");
}

@font-face {
  font-family: "OpenSansLight-Italic";
  src: url("../fonts/Open_Sans/OpenSansLight-Italic/OpenSansLight-Italic.eot");
  src: url("../fonts/Open_Sans/OpenSansLight-Italic/OpenSansLight-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSansLight-Italic/OpenSansLight-Italic.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSansLight-Italic/OpenSansLight-Italic.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSansLight-Italic/OpenSansLight-Italic.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSansLight-Italic/OpenSansLight-Italic.svg#OpenSansLight-Italic") format("svg");
}

@font-face {
  font-family: "OpenSans-BoldItalic";
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic/OpenSans-BoldItalic.eot");
  src: url("../fonts/Open_Sans/OpenSans-BoldItalic/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans-BoldItalic/OpenSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-BoldItalic/OpenSans-BoldItalic.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-BoldItalic/OpenSans-BoldItalic.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans-BoldItalic/OpenSans-BoldItalic.svg#OpenSans-BoldItalic") format("svg");
}

@font-face {
  font-family: "OpenSans-Italic";
  src: url("../fonts/Open_Sans/OpenSans-Italic/OpenSans-Italic.eot");
  src: url("../fonts/Open_Sans/OpenSans-Italic/OpenSans-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans-Italic/OpenSans-Italic.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-Italic/OpenSans-Italic.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-Italic/OpenSans-Italic.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans-Italic/OpenSans-Italic.svg#OpenSans-Italic") format("svg");
}

@font-face {
  font-family: "Raleway-Thin";
  src: url("../fonts/Raleway/Raleway-Thin/Raleway-Thin.eot");
  src: url("../fonts/Raleway/Raleway-Thin/Raleway-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-Thin/Raleway-Thin.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Thin/Raleway-Thin.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Thin/Raleway-Thin.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Thin/Raleway-Thin.svg#Raleway-Thin") format("svg");
}

@font-face {
  font-family: "Raleway-ThinItalic";
  src: url("../fonts/Raleway/Raleway-ThinItalic/Raleway-ThinItalic.eot");
  src: url("../fonts/Raleway/Raleway-ThinItalic/Raleway-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-ThinItalic/Raleway-ThinItalic.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-ThinItalic/Raleway-ThinItalic.woff") format("woff"),
    url("../fonts/Raleway/Raleway-ThinItalic/Raleway-ThinItalic.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-ThinItalic/Raleway-ThinItalic.svg#Raleway-ThinItalic") format("svg");
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.eot");
  src: url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-SemiBold/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
}

@font-face {
  font-family: "OpenSans-ExtraBoldItalic";
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic/OpenSans-ExtraboldItalic.eot");
  src: url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic/OpenSans-ExtraboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic/OpenSans-ExtraboldItalic.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic/OpenSans-ExtraboldItalic.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic/OpenSans-ExtraboldItalic.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans-ExtraBoldItalic/OpenSans-ExtraboldItalic.svg#OpenSans-ExtraboldItalic") format("svg");
}

@font-face {
  font-family: "OpenSans-ExtraBold";
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold/OpenSans-Extrabold.eot");
  src: url("../fonts/Open_Sans/OpenSans-ExtraBold/OpenSans-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans-ExtraBold/OpenSans-Extrabold.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-ExtraBold/OpenSans-Extrabold.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-ExtraBold/OpenSans-Extrabold.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans-ExtraBold/OpenSans-Extrabold.svg#OpenSans-Extrabold") format("svg");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/Open_Sans/OpenSans-Bold/OpenSans-Bold.eot");
  src: url("../fonts/Open_Sans/OpenSans-Bold/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans-Bold/OpenSans-Bold.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-Bold/OpenSans-Bold.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
}

@font-face {
  font-family: "Raleway-Black";
  src: url("../fonts/Raleway/Raleway-Black/Raleway-Black.eot");
  src: url("../fonts/Raleway/Raleway-Black/Raleway-Black.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-Black/Raleway-Black.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Black/Raleway-Black.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Black/Raleway-Black.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Black/Raleway-Black.svg#Raleway-Black") format("svg");
}

@font-face {
  font-family: "Raleway-ExtraLightItalic";
  src: url("../fonts/Raleway/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.eot");
  src: url("../fonts/Raleway/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.woff") format("woff"),
    url("../fonts/Raleway/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.svg#Raleway-ExtraLightItalic") format("svg");
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.eot");
  src: url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium") format("svg");
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("../fonts/Raleway/Raleway-ExtraBold/Raleway-ExtraBold.eot");
  src: url("../fonts/Raleway/Raleway-ExtraBold/Raleway-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-ExtraBold/Raleway-ExtraBold.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-ExtraBold/Raleway-ExtraBold.woff") format("woff"),
    url("../fonts/Raleway/Raleway-ExtraBold/Raleway-ExtraBold.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-ExtraBold/Raleway-ExtraBold.svg#Raleway-ExtraBold") format("svg");
}

@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/Open_Sans/OpenSans-Light/OpenSans-Light.eot");
  src: url("../fonts/Open_Sans/OpenSans-Light/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans-Light/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-Light/OpenSans-Light.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-Light/OpenSans-Light.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans-Light/OpenSans-Light.svg#OpenSans-Light") format("svg");
}

@font-face {
  font-family: "Raleway-MediumItalic";
  src: url("../fonts/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.eot");
  src: url("../fonts/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.woff") format("woff"),
    url("../fonts/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-MediumItalic/Raleway-MediumItalic.svg#Raleway-MediumItalic") format("svg");
}

@font-face {
  font-family: "Raleway-LightItalic";
  src: url("./../fonts/Raleway/Raleway-LightItalic/Raleway-LightItalic.eot");
  src: url("./../fonts/Raleway/Raleway-LightItalic/Raleway-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("./../fonts/Raleway/Raleway-LightItalic/Raleway-LightItalic.woff2") format("woff2"),
    url("./../fonts/Raleway/Raleway-LightItalic/Raleway-LightItalic.woff") format("woff"),
    url("./../fonts/Raleway/Raleway-LightItalic/Raleway-LightItalic.ttf") format("truetype"),
    url("./../fonts/Raleway/Raleway-LightItalic/Raleway-LightItalic.svg#Raleway-LightItalic") format("svg");
}

@font-face {
  font-family: "Raleway-BlackItalic";
  src: url("../fonts/Raleway/Raleway-BlackItalic/Raleway-BlackItalic.eot");
  src: url("../fonts/Raleway/Raleway-BlackItalic/Raleway-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-BlackItalic/Raleway-BlackItalic.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-BlackItalic/Raleway-BlackItalic.woff") format("woff"),
    url("../fonts/Raleway/Raleway-BlackItalic/Raleway-BlackItalic.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-BlackItalic/Raleway-BlackItalic.svg#Raleway-BlackItalic") format("svg");
}

@font-face {
  font-family: "Raleway-BoldItalic";
  src: url("../fonts/Raleway/Raleway-BoldItalic/Raleway-BoldItalic.eot");
  src: url("../fonts/Raleway/Raleway-BoldItalic/Raleway-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-BoldItalic/Raleway-BoldItalic.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-BoldItalic/Raleway-BoldItalic.woff") format("woff"),
    url("../fonts/Raleway/Raleway-BoldItalic/Raleway-BoldItalic.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-BoldItalic/Raleway-BoldItalic.svg#Raleway-BoldItalic") format("svg");
}

@font-face {
  font-family: "Raleway-ExtraBoldItalic";
  src: url("../fonts/Raleway/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.eot");
  src: url("../fonts/Raleway/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.woff") format("woff"),
    url("../fonts/Raleway/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.svg#Raleway-ExtraBoldItalic") format("svg");
}

@font-face {
  font-family: "OpenSans-SemiBoldItalic";
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic/OpenSans-SemiboldItalic.eot");
  src: url("../fonts/Open_Sans/OpenSans-SemiBoldItalic/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans-SemiBoldItalic/OpenSans-SemiboldItalic.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans-SemiBoldItalic/OpenSans-SemiboldItalic.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans-SemiBoldItalic/OpenSans-SemiboldItalic.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans-SemiBoldItalic/OpenSans-SemiboldItalic.svg#OpenSans-SemiboldItalic") format("svg");
}

@font-face {
  font-family: "Raleway-Italic";
  src: url("../fonts/Raleway/Raleway-Italic/Raleway-Italic.eot");
  src: url("../fonts/Raleway/Raleway-Italic/Raleway-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-Italic/Raleway-Italic.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Italic/Raleway-Italic.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Italic/Raleway-Italic.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Italic/Raleway-Italic.svg#Raleway-Italic") format("svg");
}

@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("../fonts/Raleway/Raleway-ExtraLight/Raleway-ExtraLight.eot");
  src: url("../fonts/Raleway/Raleway-ExtraLight/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-ExtraLight/Raleway-ExtraLight.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-ExtraLight/Raleway-ExtraLight.woff") format("woff"),
    url("../fonts/Raleway/Raleway-ExtraLight/Raleway-ExtraLight.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-ExtraLight/Raleway-ExtraLight.svg#Raleway-ExtraLight") format("svg");
}

@font-face {
  font-family: "Raleway-SemiBoldItalic";
  src: url("../fonts/Raleway/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot");
  src: url("../fonts/Raleway/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff") format("woff"),
    url("../fonts/Raleway/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.svg#Raleway-SemiBoldItalic") format("svg");
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("../fonts/Raleway/Raleway-Bold/Raleway-Bold.eot");
  src: url("../fonts/Raleway/Raleway-Bold/Raleway-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-Bold/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Bold/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Bold/Raleway-Bold.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold") format("svg");
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.eot");
  src: url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Regular/Raleway-Regular.svg#Raleway-Regular") format("svg");
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans/OpenSans.eot");
  src: url("../fonts/Open_Sans/OpenSans/OpenSans.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Open_Sans/OpenSans/OpenSans.woff2") format("woff2"),
    url("../fonts/Open_Sans/OpenSans/OpenSans.woff") format("woff"),
    url("../fonts/Open_Sans/OpenSans/OpenSans.ttf") format("truetype"),
    url("../fonts/Open_Sans/OpenSans/OpenSans.svg#OpenSans") format("svg");
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway/Raleway-Light/Raleway-Light.eot");
  src: url("../fonts/Raleway/Raleway-Light/Raleway-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Raleway/Raleway-Light/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway/Raleway-Light/Raleway-Light.woff") format("woff"),
    url("../fonts/Raleway/Raleway-Light/Raleway-Light.ttf") format("truetype"),
    url("../fonts/Raleway/Raleway-Light/Raleway-Light.svg#Raleway-Light") format("svg");
}
